# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
*-build-*
*.user
.cmake
.cbp
CMakeCache.txt
build/*
build/*/*
build/*/*/*
build/*/*/*/*
*.*~
